<%- include('../../partials/header.ejs') %>
<body>
    <%- include('../../partials/navbar.ejs') %><br>
    <div class="container">
        <hr>
        <h2>Categorias</h2>
        <a class="btn btn-success" href="/admin/articles/new">Criar Artigo</a>
        <hr>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Slug</th>
                    <th>Categorias</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% articles.forEach(article=>{ %>
                    <tr>
                        <td><%=article.id%></td>
                        <td><%=article.title%></td>
                        <td><%=article.slug%></td>
                        <td><%=article.category.title%></td>
                        <td>
                            <a  class="btn btn-warning" href="articles/edit/<%= article.id %>">Editar</a>
                            <form method="POST" action="/articles/delete" style="display: inline" onsubmit="confirmarDelecao(event, this)">
                                <input type="hidden" name="id" value="<%= article.id %>">
                                <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>